.jumbotron{
background-color: rgb(177, 14, 2);
padding-top: 15px;
padding-bottom:10px;
text-align: center;
color: rgb(15, 15, 15);
}
.col-md-9{
background-color: rgb(11, 122, 219);
color: white;
}

.col-md-3{
background-color: rgba(148, 9, 9, 0.514);
color:white;
}

